.button-container{
    padding: 30px;
    padding-left: 0;
    display: flex;
    justify-items: center;
    align-items: center;
}

.header{
    padding: 100px;
}

.sub-title{
    font-size: 4rem;
    animation: float 4s ease-in-out -700ms infinite;
}

.title{
    font-size: 12rem;
    animation: float 4s ease-in-out -350ms infinite;

}




@keyframes float{
    0%{ 
        transform: translateY(10px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(10px);
    }
}